#container {
  height: 400px;
  width: 80%;
  background-color: azure;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

h1 {
  text-align: center;
}

#container div {
  width: 100px;
  height: 100px;
  text-align: center;
  color: aliceblue;
  font-size: 1.5em;
}
